@import "../../../global.scss";

.topUp {
  color: white;
  width: 100%;

  .account {
    width: 100%;
    display: block;
  }

  .row {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    @include tab {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 17px;
      font-family: "Inter", sans-serif;
    }
    .col-md-3 {
      width: 100%;
      margin-bottom: 10px;
      .form-control {
        width: 100%;
      }
      .form-label {
        font-size: 16px;
        font-weight: 400;
        font-family: "Inter", sans-serif;
      }
      .submit-button {
        margin-top: 30px;
        &:disabled {
          cursor: not-allowed;
          background-color: $grey;
        }
        @include tab {
          width: 100%;
        }
        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

.none {
  display: none;
}
