@import "../../global.scss";

.choose {
  width: 100%;
  padding-top: 100px;
  @include tab {
    padding-top: 80px;
  }
  @include mobile {
    padding-top: 80px;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    // @include tab {
    //   flex-direction: column;
    // }
    // @include mobile {
    //   flex-direction: column;
    // }

    img {
      transition: all 1s ease;
    }

    // .first,
    // .second,
    // .third {
    //   display: flex;
    //   @include tab {
    //     align-items: center;
    //   }
    //   @include mobile {
    //     align-items: center;
    //   }

    //   .icon {
    //     width: 60px;
    //     height: 60px;
    //     background-color: $general;
    //     border-radius: 50%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     color: $buttonColor;
    //     @include l{
    //       width: 50px;
    //       height: 44px;
    //     }
    //     @include tab {
    //       width: 45px;
    //       height: 45px;
    //     }
    //     @include mobile {
    //       width: 30px;
    //       height: 30px;
    //     }
    //     .material-icons {
    //       font-size: 40px;
    //       @include l{
    //         font-size: 28px;
    //       }
    //       @include tab {
    //         font-size: 25px;
    //       }
    //       @include mobile {
    //         font-size: 15px;
    //       }
    //     }
    //   }

    //   .content {
    //     color: $generalColor;
    //     margin-left: 30px;
    //     h3 {
    //       font-size: 40px;
    //       font-weight: 500;
    //       font-family: "Archivo", sans-serif;
    //       @include tab {
    //         font-size: 30px;
    //       }
    //       @include mobile {
    //         font-size: 20px;
    //       }
    //     }
    //     p {
    //       font-size: 17px;
    //       font-weight: 400;
    //       color: $secondary;
    //       font-family: "Inter", sans-serif;
    //       @include tab {
    //         font-size: 14px;
    //       }
    //       @include mobile {
    //         font-size: 12px;
    //       }
    //     }
    //   }
    // }
  }

  .who {
    display: flex;
    @include tab {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
    .left {
      flex: 1;
      @include tab {
        // display: none;
      }
      @include mobile {
        // display: none;
      }
      .secondImg {
        height: 70%;
        display: flex;
        margin-left: 50px;
        @include tab {
          height: 220px;
        }
        @include mobile {
          height: 200px;
        }
      }
      .polygon {
        height: 100px;
        transform: rotate(180deg);
        @include tab {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
    }
    .right {
      flex: 1;
      padding: 50px 100px;
      @include l{
        padding: 50px;
      }
      @include tab {
        padding: 10px;
      }
      @include mobile {
        flex: none;
        padding: 10px;
      }
      h3 {
        font-size: 40px;
        font-weight: 700;
        font-family: "Archivo", sans-serif;
        color: $generalColor;
        text-transform: uppercase;
        margin-bottom: 50px;
        @include tab {
          font-size: 30px;
          text-align: center;
        }
        @include mobile {
          font-size: 25px;
          text-align: center;
        }
      }
      p {
        font-size: 17px;
        font-weight: 400;
        color: $secondary;
        font-family: "Inter", sans-serif;
        margin-bottom: 50px;
        @include tab {
          font-size: 16px;
          text-align: center;
        }
        @include mobile {
          font-size: 14px;
          text-align: center;
        }
      }
      a {
        background-color: $buttonColor;
        width: 120px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $backgroundCOlor;
        @include tab {
          margin-top: 30px;
          margin-left: 35%;
        }
        @include mobile {
          height: 30px;
          margin-top: 30px;
          margin-left: 30%;
        }
      }
    }
  }

  .choose {
    display: flex;
    @include l{
      padding: 10px;
    }
    @include tab {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
    .left {
      flex: 1;
      @include tab {
        display: none;
      }
      @include mobile {
        display: none;
      }
      img {
        width: 90%;
      }
    }
    .right {
      flex: 1;
      padding: 50px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include tab {
        padding: 10px;
      }
      @include mobile {
        flex: none;
        padding: 10px;
      }
      h3 {
        font-size: 40px;
        font-weight: 700;
        font-family: "Archivo", sans-serif;
        color: $generalColor;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include tab {
          font-size: 30px;
          text-align: center;
        }
        @include mobile {
          font-size: 25px;
          text-align: center;
        }
      }
      p {
        font-size: 17px;
        font-weight: 400;
        color: $secondary;
        font-family: "Inter", sans-serif;
        text-align: center;
        width: 60%;
        @include tab {
          width: 100%;
          font-size: 16px;
          text-align: center;
        }
        @include mobile {
          width: 100%;
          font-size: 14px;
          text-align: center;
        }
      }
      a {
        background-color: $buttonColor;
        width: 120px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $backgroundCOlor;
        @include tab {
          margin-top: 30px;
          // margin-left: 35%;
        }
        @include mobile {
          height: 30px;
          margin-top: 30px;
          // margin-left: 30%;
        }
      }
    }
  }

  .earn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    @include tab {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-right: 50px;
      @include tab {
        padding: 10px;
      }
      @include mobile {
        padding: 10px;
      }
      h3 {
        width: 80%;
        font-size: 40px;
        font-weight: 700;
        font-family: "Archivo", sans-serif;
        color: $generalColor;
        text-transform: capitalize;
        margin-bottom: 30px;
        @include tab {
          width: 100%;
          font-size: 30px;
          text-align: center;
        }
        @include mobile {
          font-size: 25px;
          text-align: center;
          width: 100%;
        }
      }
      p {
        width: 60%;
        font-size: 17px;
        font-weight: 400;
        color: $secondary;
        font-family: "Inter", sans-serif;
        margin-bottom: 30px;
        @include tab {
          width: 100%;
          text-align: center;
          font-size: 16px;
        }
        @include mobile {
          width: 100%;
          font-size: 14px;
          text-align: center;
        }
      }
      a {
        background-color: $buttonColor;
        width: 120px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $backgroundCOlor;
        margin-bottom: 40px;
        @include tab {
          // margin-left: 35%;
          margin-bottom: 30px;
        }
        @include mobile {
          height: 30px;
          // margin-left: 30%;
          margin-bottom: 30px;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      gap: 20px;
      padding: 40px;
      @include tab{
        flex-direction: column;
        padding: 0;
        gap: 10px;
      }
      .container {
        background-color: $general;
        color: white;
        margin-bottom: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 8px;
        @include tab {
          align-items: center;
          justify-content: center;
        }
        @include mobile {
          justify-content: center;
          align-items: center;
        }

        .left {
          flex: 0.5;
          span {
            background-color: $general;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            @include tab {
              height: 60px;
              width: 60px;
              font-size: 35px;
            }
            @include mobile {
              height: 50px;
              width: 50px;
              font-size: 25px;
            }
          }
        }
        .right {
          flex: 4;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}
