@import "../../../global.scss";

.withdraw {
  margin-top: -10px;
  .row {
    display: flex;
    flex-direction: column;
    width: 30%;
    @include l {
      width: 40%;
    }
    @include tab {
      width: 50%;
    }
    @include mobile {
      width: 70%;
    }

    p {
      font-weight: 400;
      font-size: 17px;
      font-family: "Inter", sans-serif;
    }
    h1 {
      font-weight: 600;
      font-size: 30px;
      font-family: "Inter", sans-serif;
      color: $buttonColor;
      margin-top: -20px !important;
    }
    .col {
      margin-top: 45px;
      @include l {
        margin-top: 50px;
      }
      @include tab {
        margin-top: 60px;
      }
      @include mobile {
        margin-top: 60px;
      }
      .col-md-3 {
        width: 100%;
        margin-top: 8px;
        .form-label {
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 17px;
        }
        .form-control {
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 14px;
          background-color: transparent;
          color: white;
          border: 1px solid $grey;
          margin-top: -8px;
          &::placeholder {
            color: white;
          }
          &:focus {
            border: 1px solid white;
          }
        }
        .form-select {
          background-color: $buttonColor;
          color: $backgroundCOlor;
          border: 1px solid $grey;
          option {
            &:checked {
              background-color: $buttonColor !important;
            }
          }
        }
        .submit-button {
          width: 100%;
          border: none;
          border-radius: 4px;
          background-color: $buttonColor;
          color: $backgroundCOlor;
          font-weight: 700;
          font-size: 20px;
          font-family: "Inter", sans-serif;
          &:disabled {
            background-color: $grey;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
