@import "../../global.scss";

.footer {
  // padding: 40px;
  padding-top: 10px;
  width: 100%;
  @include l{
    padding: 20px;
  }
  @include tab {
    margin-top: 40px;
  }

  .team {
    // height: 90vh;
    width: 100%;
    display: flex;
    padding-top: 100px;
    padding-left: 40px;
    margin-bottom: 80px;
    @include tab {
      flex-direction: column-reverse;
      padding-left: 0;
    }
    @include mobile {
      flex-direction: column-reverse;
      padding-left: 0;
    }

    .left {
      flex: 1;
      color: white;
      @include tab {
        flex: none;
      }
      @include mobile {
        flex: none;
      }
      h2 {
        width: 100%;
        font-size: 54px;
        font-weight: 700;
        font-family: "Archivo", sans-serif;
        @include tab {
          font-size: 40px;
          width: 100%;
        }
        @include mobile {
          font-size: 30px;
          width: 100%;
        }
      }
      .rightImg {
        display: none;
        margin: 30px;
        @include tab {
          display: flex;
          height: 250px;
        }
      }
      p {
        font-size: 17px;
        font-weight: 400;
        color: #e0e0e0;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 40px;
        @include tab {
          width: 100%;
        }
        @include mobile {
          font-size: 15px;
          width: 100%;
        }
      }
      a {
        text-decoration: none;
        background-color: $buttonColor;
        color: $backgroundCOlor;
        padding: 10px 20px;
        border-radius: 20px;
        span {
          margin-left: 5px;
          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
    .right {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden;
      @include tab {
        display: none;
      }
      @include mobile {
        display: none;
      }
      .rightImg {
        margin-right: 40px;
        height: 350px;
      }
      .polygon {
        height: 100px;
        @include tab {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
    }
  }

  .top {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $generalColor;
    padding-bottom: 100px;
    @include tab {
      flex-direction: column;
      padding-bottom: 50px;
    }
    @include mobile {
      flex-direction: column;
      padding-bottom: 50px;
    }

    .first {
      .logo {
        span {
          margin-left: 10px;
          font-size: 18px;
          font-weight: 600;
          font-family: "Inter", sans-serif;
        }
      }

      .social {
        display: flex;
        gap: 15px;
        margin-top: 10px;
        img {
          cursor: pointer;
          width: 20px;
        }
      }
    }
    .extra-links {
      display: flex;
      flex-direction: column;
      @include tab {
        margin-top: 30px;
      }
      @include mobile {
        margin-top: 30px;
      }
      h4 {
        font-size: 20px;
        font-weight: 700;
        font-family: "Archivo", sans-serif;
        text-transform: uppercase;
        @include tab {
          font-size: 18px;
        }
        @include mobile {
          font-size: 16px;
        }
      }
      ul {
        list-style: none;
        margin-left: -35px;
        li {
          margin-top: 20px;
          @include tab {
            margin-top: 10px;
          }
          @include mobile {
            margin-top: 10px;
          }
          a {
            font-size: 17px;
            font-weight: 400;
            color: $secondary;
            @include tab {
              font-size: 15px;
            }
            @include mobile {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .down {
    padding: 40px;
    padding-top: 20px;
    display: flex;
    @include tab {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
    .left {
      flex: 1;
      font-size: 17px;
      font-weight: 400;
      color: $generalColor;
      font-family: "Inter", sans-serif;
    }
    .right {
      flex: 1;
      @include tab {
        margin-top: 20px;
      }
      @include mobile {
        margin-top: 20px;
      }
      ul {
        display: flex;
        list-style: none;
        float: right;
        @include tab {
          float: left;
        }
        @include mobile {
          margin-left: -20%;
        }
        li {
          margin-left: 50px;
          a {
            font-size: 17px;
            font-weight: 400;
            color: $generalColor;
            font-family: "Inter", sans-serif;
          }
        }
      }
    }
  }
}
