@import "../../../global.scss";

.userSideMenu {
  background-color: $grey;
  position: fixed;
  left: -250px;
  top: 0;
  height: 100vh;
  width: 50vw;
  padding-top: 30px;
  transition: all 1s ease-in;
  overflow: scroll;
  @include tab{
    left: -400px;
  }

  .hambuger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 8px;
    .line {
      width: 100%;
      height: 3px;
      display: flex;
      flex-direction: column;
      background-color: $backgroundCOlor;
      transform-origin: left;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  ul {
    margin-left: -20px;
    li {
      list-style: none;
      color: white;
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      span {
        margin-right: 15px;
      }
      img {
        height: 30px;
        width: 30px;
      }
      h4 {
        font-size: 20px;
        margin: 5px;
      }
    }
    .inactive {
      list-style: none;
      color: white;
      font-weight: 500;
      font-size: 14px;
      font-family: "Inter", sans-serif;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      span {
        margin-right: 15px;
      }
      &.active {
        font-weight: 700;
        color: $backgroundCOlor;
        background-color: $buttonColor;
        width: 90%;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
  .logout {
    margin-top: 50px;
  }

  &.active{
    left: 0;
  }
}
