.updatePassword {
    padding-top: 60px;
    h4 {
      text-transform: capitalize;
    }

    .col-md-4{
        position: relative;
        .material-icons{
            position: absolute;
            cursor: pointer;
            right: 20px;
            top: 60px;
        }
    }
  }

  .none{
    display: none;
  }
  