@import "../../global.scss";

.getStarted {
  color: white;
  padding-top: 100px;
  @include tab {
    padding-top: 10px;
  }
  @include mobile {
    padding-top: 10px;
  }
  .first {
    width: 40%;
    @include tab {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
    h1 {
      font-weight: 700;
      font-size: 40px;
      font-family: "Archivo", sans-serif;
      padding-bottom: 30px;
      @include tab {
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
      }
      @include mobile {
        font-size: 25px;
        text-align: center;
        padding-bottom: 10px;
      }
    }
    p {
      font-weight: 400;
      font-size: 17px;
      font-family: "Inter", sans-serif;
      color: $secondary;
      padding-bottom: 30px;
      @include tab {
        font-size: 15px;
        text-align: center;
        padding-bottom: 15px;
      }
      @include mobile {
        font-size: 14px;
        text-align: center;
        padding-bottom: 15px;
      }
    }
    a {
      text-decoration: none;
      border: none;
      border-radius: 20px;
      padding: 12px 20px;
      background-color: $buttonColor;
      color: $backgroundCOlor;
      font-weight: 400;
      font-size: 17px;
      font-family: "Inter", sans-serif;
      @include tab {
        font-size: 15px;
        margin-left: 30%;
      }
      @include mobile {
        font-size: 14px;
        margin-left: 20%;
      }
    }
  }
  .second {
    margin-top: 30px;
  }
}
