@import "../../global.scss";

.intro {
  // height: 90vh;
  width: 100%;
  display: flex;
  padding-top: 100px;
  padding-left: 40px;
  @include l{
    padding: 20px;
    height: 60vh;
  }
  @include tab {
    flex-direction: column-reverse;
    height: 90vh;
    // padding-left: 0;
  }
  @include mobile {
    flex-direction: column-reverse;
    height: 84vh;
    // padding-left: 0;
  }

  .left {
    flex: 1;
    color: white;
    @include tab {
      flex: none;
    }
    @include mobile {
      flex: none;
    }
    h2 {
      width: 100%;
      font-size: 45px;
      font-weight: 700;
      font-family: "Archivo", sans-serif;
      @include l{
        font-size: 34px;
      }
      @include tab {
        font-size: 40px;
        width: 100%;
      }
      @include mobile {
        font-size: 30px;
        width: 100%;
      }
    }
    .rightImg{
      display: none;
      margin: 30px;
      @include tab {
        display: flex;
        height: 250px;
      }
    }
    p {
      font-size: 17px;
      font-weight: 400;
      color: #e0e0e0;
      width: 90%;
      margin-top: 20px;
      margin-bottom: 40px;
      @include tab {
        width: 100%;
      }
      @include mobile {
        font-size: 15px;
        width: 100%;
      }
    }
    a {
      text-decoration: none;
      background-color: $buttonColor;
      color: $backgroundCOlor;
      padding: 10px 20px;
      border-radius: 20px;
      span {
        margin-left: 5px;
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
  .right {
    flex: 1;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    @include tab {
      display: none;
    }
    .rightImg {
      margin-right: 40px;
      height: 300px;
      @include l{
        height: 250px;
      }
    }
    .polygon{
      height: 100px;
      @include tab {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }
  }
}
