@import "../../global.scss";

.work {
  padding-top: 50px;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px;
    @include l {
      padding: 20px;
    }

    .first {
      width: 50%;
      text-align: center;
      @include l {
        width: 80%;
      }
      @include tab {
        width: 100%;
      }
      @include mobile {
        width: 100%;
      }
      h1 {
        font-weight: 700;
        font-size: 64px;
        font-family: "Archivo", sans-serif;
        @include l {
          font-size: 40px;
        }
        @include tab {
          font-size: 32px;
        }
        @include mobile {
          font-size: 30px;
        }
      }
      p {
        font-weight: 400;
        font-size: 17px;
        font-family: "Inter", sans-serif;
        color: $secondary;
        margin-top: 20px;
        @include tab {
          font-size: 15px;
        }
        @include mobile {
          font-size: 14px;
        }
      }
    }

    .second {
      padding-top: 40px;
      margin-bottom: 30px;
      p {
        font-weight: 400;
        font-size: 28px;
        font-family: "Inter", sans-serif;
        color: $secondary;
        margin-top: 20px;
        @include l {
          font-size: 25px;
        }
        @include tab {
          font-size: 20px;
        }
        @include mobile {
          font-size: 18px;
        }
        strong {
          font-weight: 700;
        }
        a {
          color: $buttonColor;
        }
      }
    }
  }
}
