@import "../../global.scss";

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    img {
      height: 30px;
      width: 30px;
    }
    h4 {
      font-family: "Inter", sans-serif;
      color: white;
      font-size: 18px;
      font-weight: 600;
      margin-left: 10px;
      margin-top: 7px;
    }
  }
  .right {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    @include l {
      flex: 4;
    }
    @include tab {
      display: none;
    }
    @include mobile {
      display: none;
    }

    ul {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include l {
        width: 100%;
      }
      li {
        list-style: none;
        cursor: pointer;
        .notActive,
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.4);
          font-family: "Inter", sans-serif;
          font-size: 17px;
          font-weight: 400;
        }
        .active {
          color: $buttonColor;
        }
      }
      .register {
        background-color: $buttonColor;
        height: 35px;
        width: 100px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        a {
          color: $backgroundCOlor;
        }
      }
      .registerNotActive {
        background-color: $general;
        height: 35px;
        width: 100px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        a {
          color: $backgroundCOlor;
        }
      }
    }
  }

  .hambuger {
    width: 32px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @include tab {
      display: flex;
    }
    @include mobile {
      display: flex;
    }
    .line {
      width: 100%;
      height: 3px;
      display: flex;
      flex-direction: column;
      background-color: $buttonColor;
      transform-origin: left;
    }
  }
}
